* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    width: 550px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav > img {
    width: 82.02px;
    height: 25.35px;
    margin-left: 30px;
    margin-top: 22px;
}

.hero > img {
    width: 395.91px;
    height: 232px;
    margin-left: 77px;
    margin-top: 96px;
}

.content > h1 {
    display: flex;
    width: 347px;
    height: 40px;
    margin-left: 36px;
    margin-top: 32px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
}

.content > span {
    color: #222222;
    display: flex;
    width: 320px;
    height: 56px;
    margin-left: 36px;
    margin-top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
}

/* card style */
.card--list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
}

.card--image {
    height: 235px;
    width: 176px;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}