* {
    box-sizing: border-box;
}

body {
    background-color: #282D35;
    margin: 0;
    font-family: inter, sans-serif;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav > h1, nav > h2 {
    margin: 0;
}

nav > h1 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

nav > h2 {
    color: #DEEBF8;
    font-weight: 600;
}

nav > img {
    height: 30px;
    margin-right: 7px;
}

main {
    background-image: url(./images/logo512.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 40%;
    padding: 57px 27px;
    color: white;
}

main > h1 {
    margin: 0;
    font-size: 39px;
    font-family: inter;
    font-style: normal;
    font-weight: bold;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;

}

.main--facts > li::marker {
    font-size: 1.5rem;
    color: #61DAFB;
}